*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Josefin Sans, Helvetica, sans-serif;
    position: relative;
}

nav {
    width: 100vw;
    padding: 20px 0;
    background: pink;
}

.container {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}

#mobile-menu-btn {
    padding: 2px;
    background: #fff;
    font-size: 2em;
    cursor: pointer;
}

#mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(20, 20, 20, .5);
    width: 100vw;
    height: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slideDownFadeIn 500ms ease-in-out;
}

#close-menu-btn {
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 2em;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

#mobile-menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    width: 95%;
    text-transform: uppercase;
    font-weight: bold;
}

#mobile-menu ul li a {
    display: inline-block;
    padding: 10px;
    width: 100%;
    font-size: 2em;
    color: #fff;
    text-decoration: none;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-desktop {
    display: none;
}

.logo img {
    width: 150px;
}

@keyframes slideDownFadeIn {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        height: 100vh;
    }
}

@media screen and (min-width: 769px) {

    #mobile-menu-btn {
        display: none;
    }
    #mobile-menu {
        display: none;
    }

    .nav-desktop {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .nav-desktop a {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
    }

}